.music #song1{
    background-color: #E3F2FD;
}

/* heading for music */
.songHeading{
    margin: 1px;
    display:flex;
    /* align-items: center; */
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
