.sidebar{
    width: 300px;
    min-height: 200px;
    border: 5px solid black;
    background-size: contain;
    background-position: center;
    color: black;
    display: flex;
}

.coverflow{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.settings{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.gamesContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.sidebar div{
    min-height: 200px; 
}

.rightSide{
    width: 50%;

}

.rightSide img{
    height: 100%;
    width: 100%;
}

h3{
    margin-bottom: 10px;
}

.gamesContainer{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.gamesContainer img{
    height: 100px;
    width: 100px
}

.allSongs{
    height: 100%;
}

.allSongs img{
    height: 100%;
    width: 100%;
}

.artists{
    height: 100%;
}

.artists img{
    height: 100%;
    width: 100%;
}

.albums{
    height: 100%;
}

.albums img{
    height: 100%;
    width: 100%;
}

.settings{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.settings img{
    height: 100px;
    width: 100px
}

.menuContainer{
    width: 50%;
    border-right: 2px solid black;
}

.menuContainer button{
    width: 100%;
    
}
.nav-link{
    color: black;
}

.menuContainer li{
    margin-top: 10px;
    list-style: none;
}
.menuContainer li a{
    color: black;
}
.menuContainer>ul li:first-child{
    font-weight: bold;
}

.menuContainer>ul li:hover{
    background-color: blue;
}

